/* #part1 */
/* { */
	/* height:550px; */
	 /* background:url(images/cap4.png);  */
	/* background-repeat:no-repeat; */
	 /* animation-duration:30s; */
    /* animation-name: mapageanimer; */
	/* animation-iteration-count:infinite; */
/* } */
body
{	

    animation-duration:30s;
    animation-name: mapageanimer;
	animation-iteration-count:infinite;
	
		
}
@keyframes mapageanimer {
  0% 
{
    background:url(images/cap9.jpg);
	background-repeat:no-repeat;
}
10%
{
		
	background-image:url(images/cap10.jpg);
	background-repeat:no-repeat;
}
  20% 
{
    background:url(images/cap8.jpg);
	background-repeat:no-repeat;
}
30% 
{
    background:url(images/cap3.png);
	background-repeat:no-repeat;
}
   40% 
{
    background:url(images/cap7.jpg);
	background-repeat:no-repeat;
}
 50% 
{
    background:url(images/im1.png);
	background-repeat:no-repeat;
}
60%
{
		
	background-image:url(images/cap10.jpg);
	background-repeat:no-repeat;
}
  70% 
{
    background:url(images/cap8.jpg);
	background-repeat:no-repeat;
}
80% 
{
    background:url(images/cap3.png);
	background-repeat:no-repeat;
}
   90% 
{
    background:url(images/cap7.jpg);
	background-repeat:no-repeat;
}
 100% 
{
    background:url(images/im1.png);
	background-repeat:no-repeat;
}
 


}
p

{
	font-size:50px;
	font-weight:bold;
}
span
{
	font-weight:bold;
	color:red;
}















