.calendar
{
	position:relative;
}
.calendar_table
{
	width:100%;
	height:calc(100vh - 85px);
}
.calendar_table td
{
	
	padding:10px;
	border :1px solid #CCC;
	vertical-align:top;
	width: 14.29%;
	height:20%;
}
.calendar_table calendar_table--6 weeks td
{
	height:16.66%;
}
.calendar_weekday
{
	font-weight:bold;
	color:#000;
	font-size:1.2em;
}
.calendar_otherMonth .calendar_day
{
	opacity:0.3;
}
.calendar_day
{
	font-size:1.3em;
}

#jour
{
	text-decoration:none;
	color:black;
}
.BouttonAjout
{	display:block;
	width:55px;
	height:55px;
	line-height:55px;
	text-align:center;
	color:#FFF;
	font-size:30px;
	background-color:#007bff;
	border-radius:50%;
	text-decoration:none;
	position:absolute;
	bottom:30px;
	right:30px;
	transition:transform 0.3s;
	
}
.BouttonAjout:hover
{
	text-decoration:none;
	color:#FFF;
	transform:scale(1.2);
}