/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('images/img2.jpg');
background-size: cover;
/* background-repeat: no-repeat; */
height: 100%;
font-family: 'Numans', sans-serif;
}
#login-overlay
{
	height: 100%;
align-content: center;

}
label
{
	color:white;
}
#soumettre
{
	background: #8093FF;
}